/*
* @Author: GaNeShKuMaRm
* @Date:   2017-05-11 09:14:11
* @Last Modified by:   GaNeShKuMaRm
* @Last Modified time: 2017-05-11 12:51:46
*/

.avatar {
    width: 50px;
}

a, img {
    display: inline;
}

.reactable-filter-input::before {
    content: 'Search';
}

header, footer {
    text-align: center;
}

th {
    background-color: #212121;
    color: #fafafa;
}