.leaderboard {
  table {
    width: calc(100% - 20px);
    margin: 10px 10px;
    border-collapse: collapse;

    thead {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tbody {
      display: block;
      height: 87vh;
      overflow: auto;
    }

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    td, th {
      text-align: center;
      padding: 13px 10px;
      border-bottom: solid 1px #E0E0E0;
    }

    .rank {
      width: 10%;
    }

    .camper {
      width: 40%;
    }

    .recent-points, .alltime-points {
      text-align: center;
      width: 25%;
    }

    .recent-points:hover, .alltime-points:hover {
      cursor: pointer;
    }

    .active-column {
      border-bottom: solid 4px #414141;
    }
  }
}

@media only screen and
(max-width: 760px),
(max-device-width: 1024px) and
(min-device-width: 768px) {
  .camper {
    text-align: center;
  }

  .avatar-img {
    margin: 0px auto;
  }
}