@import url('https://fonts.googleapis.com/css?family=Muli|Lobster');

body {
  overflow: hidden;
  background: #EEEEEE;
  font-family: 'Muli', sans-serif;
}

@media only screen and
(max-width: 760px),
(max-device-width: 1024px) and
(min-device-width: 768px) {
  body {
    font-size: 13px;
  }
}